{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}
<div class="col-md-8">
    <div class="mt-5">
        <h1>Create new Post</h1>

        {{ include('post/_form.html.twig') }}
    </div>
</div>
{% endblock %}
